* {
    padding: 0;
    margin: 0;
    font-family: "Hind Siliguri", sans-serif;
}

.center {
    text-align: center;
    padding-bottom: 10px;
}

::placeholder {
    font-size: 16px;
    color: #0b0931;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
    background: #0b0931;
}

.heading {
    font-size: 24px;
    color: #e4e2fb;
    margin: 10px 0;
    font-weight: 900;
}

.container {
    max-width: 700px;
    padding: 15px;
    border: 1px solid #b7b6b633;
    border-radius: 8px;
}

.weaight,
.partnerCount {
    display: block;
    border: none;
    outline: none;
    padding: 15px;
    height: 30px;
    width: 80%;
    margin: 20px auto;
    background: #d8d6ff;
    border-radius: 5px;
    font-size: 16px;
}

.partnerCount {
    height: 70px;
}

.warning {
    color: rgb(253, 131, 131);
}

.small {
    font-size: 16px;
    line-height: 30px;
    color: #cbc8fb;
}

.submit-button {
    border: none;
    outline: none;
    background: #d8d6ff;
    padding: 10px 15px;
    font-size: 18px;
    color: rgb(25, 5, 43);
    font-weight: bold;
    border-radius: 5px;
}

.hide {
    display: none;
}

.infoBer {
    color: #c2d9ff;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

.learge {
    font-size: 22px;
    color: #12f866;
    font-family: "Tiro Bangla", serif;
}

.animated {
    max-height: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transition: max-height 0.7s ease-in-out;
}

.show {
    transition: max-height 0.7s ease-in-out;
    min-height: fit-content;
    max-height: 600px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(247, 25, 43, 0.085);
}

footer a {
    text-decoration: none;
    color: #ef39d1;
    margin: 5px;
}

footer {
    padding: 20px 0;
    background-color: #0b0931;
    color: #efefef;
}

.bt {
    border-top: 1px solid #b7b6b633;
    padding-top: 10px;
}

.footer-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    background: #ef39d153;
}